<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Enroll</title>
    <meta name="viewport" content="width=device-width,
      initial-scale=1.0"/>
    <link rel="stylesheet" href="style.css" />
    <link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.css"
/>
<link rel="stylesheet" href="	https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css">
  </head>
  <body>
    <div class="full-body">
      <div class="col col-first form-sec">
          <a href="#">
            <img src="./Assets/logo.png" class="logo">
          </a>
        <div class="container">
          <h2>Register Now</h2>
          <form method="post" action="{% url 'members:contactus' %}">
            {% csrf_token %}
              <div class="form-group">
                  <label for="name">Name:</label>
                  <input type="text" id="name" name="message-name" required>
              </div>
              <div class="form-group">
                  <label for="email">Email:</label>
                  <input type="email" id="email" name="message-email" required>
              </div>
              <div class="form-group">
                  <label for="tel">Mobile No:</label>
                  <input type="tel" id="tel" name="message-mobile" required>
              </div>
              <div class="form-group">
                <select id="country">
                  <option value="Select Course">Select Course</option>
                  <option value="Science">BBA</option>
                  <option value="History">BCA</option>
                  <option value="English">B.Com</option>
                  <option value="English">MBA</option>
                  <option value="English">M.Com</option>
                  <option value="English">MSC</option>
                  <option value="English">MCA</option>
                  <option value="English">MA</option>
              </select>
              </div>
              <button type="submit" class="submit-btn">Enroll Now</button>
          </form>
      </div>
      </div>

      <!-- <div class="swiper mySwiper col img-slider-col">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <img src="./Assets/col-img/-xVy5zTnGJMPzCrQ4JQn55VZEknc5O6onxzCpXn3fJg=_plaintext_638317588028466947.jpg" alt="">
          </div>
          <div class="swiper-slide">
            <img src="./Assets/col-img/4sBHhAzPou4oW3Bz8XEt5kPTqli85lqe4rB1HhpxGAE=_plaintext_638317588014346817.jpg" alt="">
          </div>
          <div class="swiper-slide">
            <img src="./Assets/col-img/5Q5b6S5pms9-lD8goe5e7Oz2JJjx1X26DSER-0k-250=_plaintext_638317588056947879.jpg" alt="">
          </div>
          <div class="swiper-slide">
            <img src="./Assets/col-img/8K3dTY52rP0MhC-dekdsY4lwIHtJhxSgteC161GEEkM=_plaintext_638317588032405100.jpg" alt="">
          </div>
          <div class="swiper-slide">
            <img src="./Assets/col-img/ApS1cF4ahI_wwtsvm3-xjo1ZC7VZQQ1EBlc-WTyi4x8=_plaintext_638317588003346103.jpg" alt="">
          </div>
          <div class="swiper-slide">
            <img src="./Assets/col-img/cYzxWSrsNtSt1YWSWZYOiRrSXJH8eA93R_gJTOjnK-U=_plaintext_638317588088463183.jpg" alt="">
          </div>
          <div class="swiper-slide">
            <img src="./Assets/col-img/eiGUzOJ13mgK4dqvxm1gEk-Ws6C69T6wQdbcnWsDtjo=_plaintext_638317588004089403.jpg" alt="">
          </div>
          <div class="swiper-slide">
            <img src="./Assets/col-img/EixQ7w3jit6DiH9v6la-dkFEFo6djL9HWvRw_Kj3Z6Y=_plaintext_638317588007458996.jpg" alt="">
          </div>
          <div class="swiper-slide">
            <img src="./Assets/col-img/FdPbS6PskPbDfU2ekPSJteO_AbLPErmuJ3u3VaLNYDk=_plaintext_638317588095687670.jpg" alt="">
          </div>
          <div class="swiper-slide">
            <img src="./Assets/col-img/ht_qSIDzoPCgdu-SJqMD7jPJF9rWPvHZn7MpO5133Y0=_plaintext_638317588100809595.jpg" alt="">
          </div>
          <div class="swiper-slide">
            <img src="./Assets/col-img/IMG-20231001-WA0152.jpg" alt="">
          </div>
          <div class="swiper-slide">
            <img src="./Assets/col-img/IMG-20231001-WA0153.jpg" alt="">
          </div>
          <div class="swiper-slide">
            <img src="./Assets/col-img/IMG-20231001-WA0154.jpg" alt="">
          </div>
          <div class="swiper-slide">
            <img src="./Assets/col-img/IMG-20231001-WA0155.jpg" alt="">
          </div>
        </div>
      </div> -->

    </div>



    <h3>Contact Form</h3>

<!-- <form method="post" action="{% url 'members:contactus' %}">
	{% csrf_token %}
	<textarea name="message-name" placeholder="Message..."></textarea>

	<input type="submit" />
</form>

     -->
    
      
  </body>
</html>
<script src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js"></script>
<script>
  var swiper = new Swiper(".mySwiper", {
    autoplay: {
    delay: 5000,
  },

  });

  
</script>
